@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MineralsApp.Client.ViewModels.UpdateMineralViewModel;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/admin.css">
    <title>Редактирование</title>
</head>
<body>
    <form asp-controller="Minerals" asp-action="Update" name="mineral" method="post">
        <div class="row">
            <div class="col-4 d-flex flex-column">
                <input type="image" name="mineral_image" id="mineral_image" src="~/images/main_mineral.png">
                <a href="#">Загрузить изображение</a>
            </div>
            <div class="col-8">
                <div class="form_text_item">
                    <label for="mineral_name">Наименование минерала</label>
                    <input type="text" name="mineral_name" id="mineral_name">
                </div>
                <div class="form_text_item">
                    <label for="searchers">Исследователи</label>
                    <input type="text" name="searchers" id="searchers">
                </div>
                <div class="form_text_item">
                    <label for="publish">Публикации</label>
                    <input type="text" name="publish" id="publish">
                </div>
                <div class="form_text_item">
                    <label for="field">Месторождения</label>
                    <input type="text" name="field" id="field">
                </div>
                <div class="form_text_item">
                    <label for="place">Территории</label>
                    <input type="text" name="place" id="place">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex flex-column">
                <label for="min_description">Описание</label>
                <textarea name="description" id="min_description" cols="30" rows="10" required placeholder="Описание"></textarea>
            </div>
        </div>
        <input type="submit" value="Сохранить"/>
    </form>
    <script src="~/js/bootstrap.bundle.min.js"></script>
</body>
</html>